body {
    background-color: #212121;
}

h1 {
    color: #fff;
}
.progress {
    height: 24px;
}

.progress-bar {
    font-size: 14px;
    line-height: 24px;
    background-color: #d0e1ed;
}

.progress span {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    color: #000;	
}		

.btn-info {
    color: #fff;
    background-color: #408fc4;
    border-color: #408fc4;
}

.option-row {
    float: left;
    padding-right: 30px
}

.option-row select#progressbar {
    height: 34px;
    background: #408fc4;
    color: #fff;
    border-color: #408fc4;
}

.button-row {
    float: left;
}

.btn-info.active, 
.btn-info:active, 
.open>.dropdown-toggle.btn-info,
.btn-info:active:focus {
    background-color: #59cfea !important;
    border-color: #59cfea !important
}

@media (max-width: 400px) {

    .option-row {
        float: none;
        padding-right: 0;
        padding-bottom: 20px;
    }

}